/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    font-family: cursive;
    background-image: url('/static/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

/* Glass Effect Styles */

* {
    border-radius: 10px;
    padding: 10px;
}

/* Container Styles */

.container {
    max-width: 800px;
    margin: 40px auto;
    background: #000000;
    background: linear-gradient(45deg, #000000, #303030);
}

/* Header Styles */

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fffcfc;
}

/* Form Styles */

form {
    width: 100%;
    padding: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    color: #000000;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

/* Recommendations Styles */

#recommendations {
    padding: 20px;
    margin-top: 20px;
    color: #fff;
}

#recommendations ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
}

#recommendations li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #fff;
}

#recommendations li:last-child {
    border-bottom: none;
}
#text{
    color: #fff;
}

/* Footer Styles */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 160px;
}

footer p {
    margin: 0;
}