<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="background">
        <div class="container">
            <h1>Movie Recommender</h1>
            <form action="/recommend" method="post">
                <input type="text" name="movie_title" placeholder="Enter a movie title">
                <button type="submit">Get Recommendations</button>
            </form>
            <!-- <div id="recommendations"></div> -->
        </div>
    </div>

    <footer class="footer">
        <p>CREATED BY : ONCE</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>